<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <title>Document</title>
</head>
<body>
<div>
    <h2>Редактирование записи</h2>
    <form method="POST" action="/update/{{task._id}}" style="display: flex; flex-direction: column; max-width: 400px;">
        <label for="title">Заголовок</label>
        <input type="text" name="title" placeholder="{{task.title}}" value="{{task.title}}"> <br/>
        <label for="priority">Приоритет</label>
        <input type="number" name="priority" placeholder="{{task.priority}}" value="{{task.priority}}"><br/>
        <label for="_id">id (не редакт)</label>
        <input type="text" name="_id" disabled placeholder="{{task._id}}" value="{{task._id}}"><br/>

        <button type="submit" class="btn btn-info">
            <i class="lar la-save" style="font-size: 22px;"></i>
            Сохранить
        </button>
    </form>


</div>
</body>
</html>


