<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos</title>
</head>

<body>
    <form action="/tasks" method="POST">
        <table style="border-collapse: collapse; margin-bottom: 20px;">
            <tr>
                <th style="border: 1px solid black; padding: 10px">Checked</th>
                <th style="border: 1px solid black; padding: 10px">Title</th>
                <th style="border: 1px solid black; padding: 10px">Edit</th>
                <th style="border: 1px solid black; padding: 10px">Delete</th>
                <th style="border: 1px solid black; padding: 10px">id</th>
            </tr>
            {{#each tasks }}
            <tr>
                <td style="border: 1px solid black; padding: 10px">
                    <form action="/tasks" method="POST">
                        <input type="checkbox" {{#if completed}}checked{{/if}}>
                    </form>
                </td>
                <td style="border: 1px solid black; padding: 10px">
                    <form action="/tasks" method="post">
                        {{#if title}}
                        {{title}}
                        {{else}}
                        <input type="text" name="newTitle" value="{{newTitle}}">
                        {{/if}}
                    </form>
                </td>
                <td style="border: 1px solid black; padding: 10px">
                    <form action="/tasks/edit/{{_id}}" method="post">
                        <input type="submit" value="edit" name="edit">
                    </form>
                </td>
                <td style="border: 1px solid black; padding: 10px">
                    <form action="/tasks/{{_id}}" method="post">
                        <input type="submit" value="delete" name="deleted">
                    </form>
                </td>
                <td style="border: 1px solid black; padding: 10px">{{_id}}</td>
            </tr>
            {{/each}}
            <tr>
                <td style="border: 1px solid black; padding: 10px">
                    <form action="/tasks" method="POST">
                        <input type="checkbox" {{#if completed}}checked{{/if}}>
                    </form>
                </td>
                <td style="border: 1px solid black; padding: 10px">
                    <form action="/tasks" method="post">
                        {{#if title}}
                        {{title}}
                        {{else}}
                        <input type="text" name="title">
                        <input type="submit" value="add">
                        {{/if}}
                    </form>
                </td>
                <td style="border: 1px solid black; padding: 10px">
                    <form action="/tasks" method="post">
                        <input type="submit" value="edit" name="edit">
                    </form>
                </td>
                <td style="border: 1px solid black; padding: 10px">
                    <form action="/tasks/{{_id}}" method="post">
                        <input type="submit" value="delete" name="deleted">
                    </form>
                </td>
                <td style="border: 1px solid black; padding: 10px">{{_id}}</td>
            </tr>
        </table>
    </form>

</body>

</html>