<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css" type="text/css">
    <style>
        .news {
            list-style-type: none;
        }
    </style>
    <title>HandleBars</title>
</head>

<body>

    <div>
        <h1>Имя пользователя: {{ userName }}</h1>
        {{#if age}}
        <div>Возраст: {{ age }} </div>
        {{/if}}

        <ol>
            {{#each skills}}
            <li> {{this}} </li>
            {{/each}}
        </ol>

        <h2>Подборка новостей</h2>
        <h3>Основные новости:</h3>
        <ul>
            {{#each mainNews }}
            <li class="news"> {{this}} </li>
            {{/each}}
        </ul>
        <h3>Дополнительные новости:</h3>
        <ul>
            {{#each secondaryNews }}
            <li class="news"> {{this}} </li>
            {{/each}}
        </ul>
        <form method="POST" action="/news">
            <input type="text" name="count"
                placeholder="кол-во новостей на одной странице">
            <input type="submit">
        </form>

    </div>
</body>

</html>