<head>
    <link rel="stylesheet" href="style.css">
    
</head>

<section class="container">
    <h2>TaskList</h2>
     <form action="/tasks" method="POST" class="task-form">
        <label for="" class="task-form__label">
            <span class="task-form__text">Имя задачи: </span>
            <input class="task-form__input" type="text" name="title" id="">
        </label>
        <input class="task-form__button" type="submit" name="" id="" value="Send">
    </form>
    <div class="card-list">
        {{#each tasksList }} 
            <a class="card" href="/tasks/{{_id}}">
                    <span class="card__item card__id">ID: {{this._id}}</span>
                    <span class="card__item card__title">Title: {{this.title}}</span>
                    <span class="card__item card__text">Status: {{this.complited}}</span>
                </label>
            </a>
            <button type="submit" class="card-button" id="delete" onclick="deleteRecord(`{{this._id}}`)" >Delete</button>
            
        {{/each}}
    </div>
    <a href="/" class="task-form__button" style="max-width: 30%">Главная</a>
</section>
<script src="script.js"></script>