<head>
    <link rel="stylesheet" href="/style.css">
</head>
<header class="header">
    <h2 class="title">Node JS GB lesson 7</h2>
    <nav class="navigation">
        <a href="/" class="link__item">Home</a>
    </nav>
</header>

<body>
    <div class="container">
        <h2>Task Name : {{title}}</h2>
        <div class="task-form">
            <form action="/tasks/{{_id}}" method="POST" class="task-form-rename" name={{_id}} >
                <label class="task-form__label">
                    <span>Set Task Name: </span>
                    <span>Status: {{complited}}</span>
                    <input type="text" class="task-form__input" name="title" placeholder="{{title}}">
                </label>
                <input type="submit" class="task-form__button" value="Rename">
            </form>
            <form action="/tasks/{{_id}}" method="POST" name={{complited}} class="task-from_upd">
                {{#if complited}}
                    <input type="hidden" name="complited" value="false">
                    <input type="submit" class="task-form__button" value="set uncomplited">
                {{/if}}
                {{#unless complited}}
                    <input type="hidden" name="complited" value="true">
                    <input type="submit" class="task-form__button" value="set complited">
                {{/unless}}
            </form>
        </div>
        <nav class="navigation">
            <a href="/tasks" class="task-form__button">Назад </a>
        </nav>
    </div>
</body>
    
